.jumbotron {
  background-color: $yellow;
  color: black;
  margin-top: 10px;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: #a8a86f;
  margin-bottom: 0px;
  margin-top: 10px;
}
.redes,
.links {
  padding: 20px 40px;
}

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0;
}
.btn-reserva-icon {
  padding-right: 5px;
}
.footer-address-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
}

.buttons-toggles {
  margin-bottom: 20px;
}
