$background-primary: #279ca0;
$footer-color: #f9fafa;
$yellow: #fff219;
$red: #e93434;
$blue: #3440e9;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}
@mixin paddings($top,$rigth, $bottom, $left) {
    margin-top: $top;
    margin-bottom: $bottom;
    margin-left: $left;
    margin-right: $rigth;
}

.jumbotron {
    background-color: $background-primary;
    color: black;
    @include margenes(10px, 10px );
}

footer {
    @include paddings(10px, 10px, 0px ,10px);
    background-color: $background-primary;
    color: $footer-color;
    @include margenes(10px, 0px );
}
.redes,
.links {
    padding: 20px 40px;
}

.redes a, .links a {
    color: $footer-color;
}

.card-hotel {
    flex: 1 200px;
    @include margenes(10px, 0px );
}
.btn-reserva {
    width: 100%;
    border-radius: 0;
}
.btn-reserva-icon {
    padding-right: 5px;
    @include paddings(0px, 5px, 0 ,0px);
}
.footer-address-icon {
    @include paddings(0px, 10px, 0 ,0px);
}

.tab-content {
    @include paddings(10px, 0px, 0 ,0px);
}

.buttons-toggles {
    @include margenes(0px, 20px );
}
  