@background-primary: #308a1d;
@footer-color: #f9fafa;

.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.paddings(@top: 0px,@rigth: 0px, @bottom: 0px, @left: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
    margin-left: @left;
    margin-right: @rigth;
}

  .jumbotron {
    background-color: @background-primary;
    color: black;
     .margenes(10px, 20px );
  }
  
  footer {
    padding: 10px 10px 0 10px;
    .paddings(10px,10px,0px,10px);
    background-color: @background-primary;
    color: @footer-color;
     .margenes(10px, 0px );
  }
  .redes,
  .links {
    padding: 20px 40px;
  }

  .redes a, .links a {
    color: @footer-color;
  }
  
  .card-hotel {
    flex: 1 200px;
     .margenes(10px, 0px );
  }
  .btn-reserva {
    width: 100%;
    border-radius: 0;
  }
  .btn-reserva-icon {
    .paddings(0px,5px,0px,0px);
  }
  .footer-address-icon {
    .paddings(0px,10px,0px,0px);
  }
  
  .tab-content {
    .paddings(10px,0px,0px,0px);
  }
  
  .buttons-toggles {
    margin-bottom: 20px;
  }
  