.jumbotron {
  background-color: #279ca0;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px; }

footer {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #279ca0;
  color: #f9fafa;
  margin-top: 10px;
  margin-bottom: 0px; }

.redes,
.links {
  padding: 20px 40px; }

.redes a, .links a {
  color: #f9fafa; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0; }

.btn-reserva-icon {
  padding-right: 5px;
  margin-top: 0px;
  margin-bottom: 0;
  margin-left: 0px;
  margin-right: 5px; }

.footer-address-icon {
  margin-top: 0px;
  margin-bottom: 0;
  margin-left: 0px;
  margin-right: 10px; }

.tab-content {
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 0px;
  margin-right: 0px; }

.buttons-toggles {
  margin-top: 0px;
  margin-bottom: 20px; }
