.jumbotron {
  background-color: #308a1d;
  color: black;
  margin-top: 10px;
  margin-bottom: 20px;
}
footer {
  padding: 10px 10px 0 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #308a1d;
  color: #f9fafa;
  margin-top: 10px;
  margin-bottom: 0px;
}
.redes,
.links {
  padding: 20px 40px;
}
.redes a,
.links a {
  color: #f9fafa;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0;
}
.btn-reserva-icon {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 5px;
}
.footer-address-icon {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 10px;
}
.tab-content {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.buttons-toggles {
  margin-bottom: 20px;
}
